<?xml version="1.0" ?> 
<rss version="2.0">
  <channel>
    <title>DotNetNuke Features</title>
    <link>http://www.dotnetnuke.com</link>
    <description>DotNetNuke Web Application Framework Features</description>
    <language>en-us</language>
    <item>
      <title>DotNetNuke Marketplace</title>
      <link>http://marketplace.dotnetnuke.com</link>
      <description>DotNetNuke Marketplace</description>
    </item>
    <item>
      <title>DotNetNuke Projects</title>
      <link>http://projects.dotnetnuke.com</link>
      <description>DotNetNuke Projects</description>
    </item>
  </channel>
</rss>

