<?xml version="1.0" encoding="utf-8" ?>
<compression>
	<excludedMimeTypes>
		<mimeType>image/gif</mimeType>
		<mimeType>image/jpeg</mimeType>
	</excludedMimeTypes>
	<excludedPaths>
		<path>Install/Install.aspx</path>
		<path>LinkClick.aspx</path>
	</excludedPaths>
	<whitespace>
		<![CDATA[(?<=[^])\t{2,}|(?<=[>])\s{2,}(?=[<])|(?<=[>])\s{2,11}(?=[<])|(?=[\n])\s{2,}]]>
	</whitespace>
</compression>