<dotnetnuke>
	<description>This is the default DotNetNuke Host Installation Template</description>
	<scripts>
		<script name="Setup">DotNetNuke.SetUp</script>
		<script name="Schema">DotNetNuke.Schema</script>
		<script name="Data">DotNetNuke.Data</script>
	</scripts>
	<version>03.01.00</version>
	<superuser>
		<firstname>SuperUser</firstname>
		<lastname>Account</lastname>
		<username>host</username>
		<password>dnnhost</password>
		<email>host</email>
		<locale>en-US</locale>
		<timezone>0</timezone>
	</superuser>
	<settings>
		<AutoAccountUnlockDuration>10</AutoAccountUnlockDuration>
		<ControlPanel>Admin/ControlPanel/IconBar.ascx</ControlPanel>
		<Copyright>Y</Copyright>
		<DemoPeriod></DemoPeriod>
		<DemoSignup>N</DemoSignup>
		<DisableUsersOnline>Y</DisableUsersOnline>
    <EnableFileAutoSync>Y</EnableFileAutoSync>
    <EnableModuleOnLineHelp>Y</EnableModuleOnLineHelp>
		<EncryptionKey Secure="True"></EncryptionKey>
		<FileExtensions>swf,jpg,jpeg,jpe,gif,bmp,png,doc,xls,ppt,pdf,txt,xml,xsl,css,zip</FileExtensions>
		<HelpURL>http://www.dotnetnuke.com/default.aspx?tabid=787</HelpURL>
		<HostCurrency>USD</HostCurrency>
		<HostEmail></HostEmail>
		<HostFee></HostFee>
		<HostPortalId>0</HostPortalId>
		<HostSpace></HostSpace>
		<HostTitle>DotNetNuke</HostTitle>
		<HostURL>http://www.dotnetnuke.com</HostURL>
		<ModuleCaching>M</ModuleCaching>
		<PaymentProcessor>PayPal</PaymentProcessor>
		<PerformanceSetting>3</PerformanceSetting>
		<ProcessorPassword Secure="True"></ProcessorPassword>
		<ProcessorUserId Secure="True"></ProcessorUserId>
		<ProxyPassword Secure="True"></ProxyPassword>
		<ProxyPort></ProxyPort>
		<ProxyServer></ProxyServer>
		<ProxyUsername Secure="True"></ProxyUsername>
		<SiteLogBuffer>1</SiteLogBuffer>
		<SiteLogHistory>0</SiteLogHistory>
		<SiteLogStorage>D</SiteLogStorage>
		<SkinUpload>G</SkinUpload>
		<SMTPServer></SMTPServer>
		<SMTPAuthentication></SMTPAuthentication>
		<SMTPUsername Secure="True"></SMTPUsername>
		<SMTPPassword Secure="True"></SMTPPassword>
		<UseCustomErrorMessages>Y</UseCustomErrorMessages>
		<UseFriendlyUrls>Y</UseFriendlyUrls>
		<UsersOnlineTime>20</UsersOnlineTime>
		<SchedulerMode>2</SchedulerMode>
	</settings>
	<desktopmodules/>
	<portals>
		<portal>
			<portalname>My Website</portalname>
			<administrator>
				<firstname>Administrator</firstname>
				<lastname>Account</lastname>
				<username>admin</username>
				<password>dnnadmin</password>
				<email></email>
			</administrator>
			<description>My Website</description>
			<keywords>DotNetNuke, DNN, Content, Management, CMS</keywords>
			<templatefile>DotNetNuke.template</templatefile>
			<portalaliases>
				<portalalias></portalalias>
			</portalaliases>
			<ischild>false</ischild>
		</portal>
	</portals>
</dotnetnuke>