<?xml version="1.0" encoding="utf-8"?>
<EventQueueConfig>
	<PublishedEvents>
		<Event>
			<EventName>Application_Start</EventName>
			<Subscribers/>
		</Event>
	</PublishedEvents>
	<EventQueueSubscribers>
		<Subscriber>
			<ID>7f833dd8-8d29-4c93-b16e-7bc8e69818d0</ID>
			<Name>DNN Core</Name>
			<Address/>
			<Description/>
			<PrivateKey/>
		</Subscriber>
	</EventQueueSubscribers>
</EventQueueConfig>
